<%= form_tag('/flights', method: :get ) do %>
  
  From Airport:
  <%= select_tag(:from_airport, options_for_select(@airports)) %></br>
  To Airport:
  <%= select_tag(:to_airport, options_for_select(@airports)) %></br>
  Passengers:
  <%= select_tag(:passengers, options_for_select(@passengers)) %></br>
  Date:
  <%= select_tag(:date, options_for_select(@dates)) %></br>

  <%= submit_tag("Search") %>
<% end %>

<% if @flights %>
  <%= form_tag('bookings/new', method: :get) do %>
    <%= hidden_field_tag(:passengers, params[:passengers]) %>
    <table>
      <th></th>
      <th>Departing</th>
      <th>Arriving</th>
      <th>Date</th>
      <th>Time</th>
      <th>Flight Duration</th>
      <%= collection_radio_buttons(:flight, :flight_id, @flights, :id, :format_flight) do |f| %>
        <tr>
          <td><%= f.radio_button %></td>
          <td><%= f.object.from_airport.code %></td>
          <td><%= f.object.to_airport.code %></td>
          <td><%= f.object.start_datetime.strftime("%x") %></td>
          <td><%= f.object.start_datetime.strftime("%r") %></td>
          <td><%= f.object.flight_duration %></td>
        </tr>
      <% end %>
    </table>
    <%= submit_tag("Submit") %>
  <% end %>
<% end %>